<form method="POST" action="/authors">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter first name">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter last name">
    </div>
    <div class="mb-3">
        <label for="bio" class="form-label">Biography</label>
        <textarea class="form-control" name="bio" id="bio" placeholder="Enter biography"></textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add Author</button>
    </div>
</form>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Biography</th>
    </tr>
  </thead>
  <tbody>
    {{#each authors}}
    <tr>
      <td>{{this.firstName}}</td>
      <td>{{this.lastName}}</td>
      <td>{{this.bio}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>