<form>
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
    </div>
    <div class="mb-3">
        <label for="bio" class="form-label">Biography</label>
        <textarea class="form-control" id="bio" placeholder="Enter biography"></textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add Author</button>
    </div>
</form>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Biography</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Brandon</td>
      <td>Sanderson</td>
      <td>Prolific fantasy author well-known for his work on the 'Cosmere' fantasy universe.</td>
    </tr>
    <tr>
      <td>Fonda</td>
      <td>Lee</td>
      <td>Canadian-American author best known for the Green Bone Saga.</td>
    </tr>
  </tbody>
</table>