<form>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <select class="form-select" id="author">
            <option selected>Select an author</option>
            <option value="1">Brandon Sanderson</option>
            <option value="2">Fonda Lee</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <select class="form-select" id="genre">
            <option selected>Select a genre</option>
            <option value="1">Fantasy</option>
            <option value="2">Science Fiction</option>
            <option value="3">Romance</option>
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add Book</button>
    </div>
</form>
<br>
<form class="d-flex">
    <input class="form-control" type="search" placeholder="Search"/>
    <button class="btn mx-2 btn-success" type="submit">Search</button>
</form>
<br>
<p>This will list all books that match the title that was searched, or show all books if the search bar is empty</p>