<form>
    <div class="mb-3">
        <label for="bookName" class="form-label">Book</label>
        <select class="form-select" id="bookName">
            <option selected>Select a book</option>
            <option value="1">Book 1</option>
            <option value="2">Book 2</option>
            <option value="3">Book 3</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="member" class="form-label">Member</label>
        <select class="form-select" id="member">
            <option selected>Select a member</option>
            <option value="1">Member 1</option>
            <option value="2">Member 2</option>
            <option value="3">Member 3</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="startTime" class="form-label">Start Time</label>
        <input type="datetime-local" class="form-control" id="startTime">
    </div>
    <div class="mb-3">
        <label for="dueTime" class="form-label">Due Time</label>
        <input type="datetime-local" class="form-control" id="dueTime">
    </div>

    <button type="submit" class="btn btn-primary">Borrow Book</button>

</form>