<form id="newBorrowForm">
    <div class="mb-3">
        <label for="bookName" class="form-label">Select one or more books</label>
        <select class="form-select" multiple id="bookName">
            <option value="1">Skyward by Brandon Sanderson</option>
            <option value="2">Jade City by Fonda Lee</option>
            <option value="3">Mistborn by Brandon Sanderson</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="member" class="form-label">Member</label>
        <select class="form-select" id="member">
            <option selected>Select a member</option>
            <option value="1">John Smith</option>
            <option value="2">Jane Doe</option>
            <option value="3">Tim Jackson</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="startTime" class="form-label">Start Time</label>
        <input type="datetime-local" class="form-control" id="startTime">
    </div>
    <div class="mb-3">
        <label for="dueTime" class="form-label">Due Time</label>
        <input type="datetime-local" class="form-control" id="dueTime">
    </div>

    <button type="submit" class="btn btn-primary">Borrow Book</button>

</form>

<div class="modal fade" id="editBorrow" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrow</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editBorrowForm">
                    <div class="mb-3">
                        <label for="bookName" class="form-label">Select one or more books</label>
                        <select class="form-select" multiple id="bookName">
                            <option value="1">Skyward by Brandon Sanderson</option>
                            <option value="2">Jade City by Fonda Lee</option>
                            <option value="3">Mistborn by Brandon Sanderson</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="member" class="form-label">Member</label>
                        <select class="form-select" id="member">
                            <option selected>Select a member</option>
                            <option value="1">John Smith</option>
                            <option value="2">Jane Doe</option>
                            <option value="3">Tim Jackson</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="startTime" class="form-label">Start Time</label>
                        <input type="datetime-local" class="form-control" id="startTime">
                    </div>
                    <div class="mb-3">
                        <label for="dueTime" class="form-label">Due Time</label>
                        <input type="datetime-local" class="form-control" id="dueTime">
                    </div>
                    <div class="mb-3">
                        <label for="returnTime" class="form-label">Return Time</label>
                        <input type="datetime-local" class="form-control" id="returnTime">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Update Borrow</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br>
<form>
    <div class="row mb-3">
        <label for="borrow" class="form-label">Borrow</label>
        <div class="col">
            <select class="form-select" id="borrow">
                <option selected>Select a Borrow to edit</option>
                <option value="1">Borrow 1</option>
                <option value="2">Borrow 2</option>
                <option value="3">Borrow 3</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editBorrow">
                Update Borrow
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-danger">
                Delete Borrow
            </button>
        </div>
    </div>
</form>
