<form>
    <div class="mb-3">
        <label for="genreName" class="form-label">Genre Name</label>
        <input type="text" class="form-control" id="genreName" placeholder="Enter genre name">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add Genre</button>
    </div>
</form>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">All Genres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fantasy</td>
    </tr>
    <tr>
      <td>Science Fiction</td>
    </tr>
    <tr>
      <td>Romance</td>
    </tr>
  </tbody>
</table>