<h1 class="text-center">Welcome to the Atlantis Library</h1>

<p class="text-center">Use the navigation bar to create, update, or delete books from the library.</p>

<form class="text-center" action="/reset" method="POST">
    <button type="submit" class="btn btn-danger">Reset Database</button>
</form>